<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".karta"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
        <activity
            android:name=".delivery"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                />
            </intent-filter>
        </activity>
        <activity
            android:name=".download"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                />
            </intent-filter>
        </activity>
        <activity
            android:name=".oplachen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                />
            </intent-filter>
        </activity>
        <activity
            android:name=".board1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>

               />
            </intent-filter>
        </activity>  <activity
        android:name=".board2"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>


            />
        </intent-filter>
    </activity>  <activity
        android:name=".smartlab"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            />
        </intent-filter>
    </activity>  <activity
        android:name=".parol"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            />
        </intent-filter>
    </activity>
        <activity
            android:name=".katalog"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />


        </intent-filter>
    </activity>  <activity
            android:name=".board3"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />


        </intent-filter>
    </activity>  <activity
            android:name=".pageauthemail"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />


        </intent-filter>
    </activity>  <activity
            android:name=".helloboard"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />


        </intent-filter>
    </activity>  <activity
            android:name=".profile"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />


        </intent-filter>


    </activity>

    </application>

</manifest>